@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: #f00000;
}

html,body {
    width: 100;
    height: 100vh;
    background-color: rgb(26, 26, 26);  
    overflow-x: hidden;
    text-align: center;
}
#logo {
    position: relative;
    top: 30vh;
    left: 1.5vh;
    height: 30vh;
    display: flexbox;
}

#logo path:nth-child(1) {
    stroke-dasharray: 3929;
    stroke-dashoffset: 3929;
    animation: line-anim 3s alternate infinite 1s;
}

.logo-sub {
    position: relative;
    top: 27vh;
    left: 1vh;
    font-size: 5vh;
}

.allposts {
    position: relative;
    top: 50vh;
    font-size: 3vh;
}

.allposts ul {
    text-align: left;
    padding: 0 5% 0 1%;
}

@keyframes line-anim{
    to {
        stroke-dashoffset: 0;
    }
}

.navbar {
    text-align: right;
    background-color: rgb(20, 20, 20);
    padding: 1% 0;
}

.navbar ul li {
    display: inline;
    padding: 0 5vh;
}

.navbar ul li a {
    font-size: 4vh;
    color: #f00000;
    text-decoration: none;
}